ha = {'url': 'https://api.helloasso.com/v3/payments.json',
      'user': 'xxxx',
      'password': 'xxxx',
      'transactions': 'transactions.json'}
db = {'name': 'florain',
      'user': 'root',
      'password': 'xxxx'}
cyclos = {'url': 'https://cyclos.guigeek.org/api',
          'user': 'adminAPI',
          'password': 'xxxx',
          'systemIDNEF': 'xxxx'}