[Unit]
Description=HelloAsso Server
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 callback_srv.py 
Restart=on-abort
 
[Install]
WantedBy=multi-user.target

