blinker==1.4
certifi==2020.6.20
chardet==4.0.0
CherryPy==8.9.1
click==7.1.2
colorama==0.4.4
cryptography==3.3.2
filelock==3.0.12
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pyinotify==0.9.6
pyOpenSSL==20.0.1
repoze.lru==0.7
requests==2.25.1
Routes==2.5.1
simplejson==3.17.2
six==1.16.0
Unidecode==1.2.0
urllib3==1.26.5
WebOb==1.8.6
Werkzeug==1.0.1
