aniso8601==4.1.0
asn1crypto==0.24.0
attrs==21.4.0
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
CherryPy==8.9.1
Click==7.0
colorama==0.3.7
cryptography==2.6.1
entrypoints==0.3
ezodf==0.3.2
filelock==3.0.10
flasgger==0.9.5
Flask==1.0.2
Flask-RESTful==0.3.7
idna==2.6
importlib-metadata==4.10.1
importlib-resources==5.4.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==4.4.0
keyring==17.1.1
keyrings.alt==3.1.1
lxml==4.7.1
MarkupSafe==1.1.0
mistune==2.0.2
numpy==1.21.5
olefile==0.46
pandas==1.3.5
pandas-ods-reader==0.1.4
passlib==1.7.1
Pillow==5.4.1
psycopg2==2.9.3
pycrypto==2.6.1
PyGObject==3.30.4
pyinotify==0.9.6
pyOpenSSL==19.0.0
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
pyxdg==0.25
PyYAML==6.0
qrcode==6.1
repoze.lru==0.7
requests==2.21.0
Routes==2.4.1
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
timegaps==0.1.1
typing-extensions==4.0.1
unicode==2.8
Unidecode==1.0.23
urllib3==1.24.1
WebOb==1.8.5
Werkzeug==0.14.1
zipp==3.7.0
